/*
Write your variables here. All available variables can be
found in element-plus/packages/theme-chalk/src/common/var.scss.
For example, to overwrite the theme color:
*/
$--color-primary: #8112ea;
.el-badge__content {
  border: 0px solid #8112ea !important;
}

.el-switch__label {
  color: #8112ea !important;
}
.el-affix{
  width: 101% !important;
}

/* icon font path, required */
$--font-path: "~element-plus/lib/theme-chalk/fonts";

@import "~element-plus/packages/theme-chalk/src/index";
