/*
Write your variables here. All available variables can be
found in element-plus/packages/theme-chalk/src/common/var.scss.
For example, to overwrite the theme color:
*/
$--color-primary: #8112ea;
.el-badge__content {
  border: 0px solid #8112ea !important;
}
.el-collapse {
  border-top: red !important;

  .el-collapse-item__header {
    background-color: #121318 !important;
    border: 1px solid #121318 !important;
    color: white !important;
    font-weight: 600 !important;
    letter-spacing: 1px;
  }
  .el-collapse-item__wrap {
    background-color: #121318 !important;
    border-bottom: 1px solid #121318 !important;
  }
}
.el-switch__label {
  color: white !important;
}

/* icon font path, required */
$--font-path: "~element-plus/lib/theme-chalk/fonts";

@import "~element-plus/packages/theme-chalk/src/index";
