body {
  &.dark-mode {
    background-color: $dark;
    .flex {
      h1 {
        color: #fff;
      }
    }
    .el-row--flex.is-justify-center {
      background-color: $dark !important; /* background */
    }
    .projTitle {
      color: $light !important;
      transition: background-color 0.3s ease, color 0.3s ease;
    }
    .el-collapse {
      border-top: red !important;

      .el-collapse-item__header {
        background-color: $dark-card-bg !important;
        border: 1px solid $dark-card-bg !important;
        color: $light !important;
        font-weight: 600 !important;
        letter-spacing: 1px;
      }
      .el-collapse-item__wrap {
        background-color: $dark-card-bg !important;
        border-bottom: 1px solid $dark-card-bg !important;
      }
    }
    .projectsWrapper {
      border-radius: 4px;
      box-shadow: 0 0 2px #8112ea;
      background-color: $dark-card-bg; /* cards */
      padding: 10px;
      margin: 10px;

      #linkProject {
        font-size: 16px;
      }
      #completed {
        color: #39ff14;
        font-weight: 600;
      }
      #inProgress {
        color: yellow;
        font-weight: 600;
      }
      #projCompleted {
        color: #d0cae5;
      }
      #dateCreated {
        font-size: 13px;
        color: #d0cae5;
      }
      .users {
        padding-left: 7px;
        color: $light;
      }
      p {
        color: #d0cae5;
        letter-spacing: 0.3px;
        font-weight: 500;
        word-break: break-all;
      }
      .textTitle {
        color: #d0cae5;
      }

      .mdi {
        color: $light !important;
      }
    }
    /* Project Board scss */
    #boardTitle {
      color: $light;
    }
    #bodyBoard {
      background-color: #191a1f !important;
    }
    .board-layout {
      background-color: #191a1f !important;
      #totalTaskTime {
        color: white;
      }
    }
    .card {
      background-color: #191a1f !important;
      #taskName {
        color: $light;
      }
    }
    .list-title {
      background-color: #121318;
      .columnName {
        color: #d0cae5;
      }
    }
    * {
      /* ScrollBar */
      /* Firefox */
      scrollbar-width: thin;
      scrollbar-color: #d0cae5 #191a1f;
      /* Chrome, Edge, and Safari */
      *::-webkit-scrollbar {
        height: 10px;
        width: 10px;
      }

      *::-webkit-scrollbar-thumb {
        background-color: #d0cae5;
        border-radius: 20px;
      }
    }
  }
}
