body {
  background-color: $light;
  color: $dark;
  transition: background-color 0.3s ease, color 0.3s ease;
  .projTitle {
    color: $dark !important;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
}
